<div style="text-align: center;">
  <strong><img src="//cdn.shopify.com/s/files/1/2395/3423/files/nose-jewelry-model_1024x1024.jpg?v=1552885548" alt="Nose jewelry model" /><br /><br /><br />Earn Points. Get Rewards.<br /><br /><img src="//cdn.shopify.com/s/files/1/2395/3423/files/voucher-points-chart2_1024x1024.jpg?v=1552883931" alt="Voucher points chart" /><br /><br /></strong>
</div>
<div style="text-align: center;">
  <strong>Ways to Earn Points<br /><img src="//cdn.shopify.com/s/files/1/2395/3423/files/freshtrends-rewards_1024x1024.jpg?v=1552883384" alt="Ways to earn reward points" /><br /><br /></strong>
</div>
<div style="text-align: center;">FAQ<br /><br /></div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-1">
  <strong># What are FreshTrends Loyalty Rewards?</strong>
</div>
<div style="text-align: left;" class="accordion accordion-1">This is our way of showing our appreciation for your loyalty to our brand. With our rewards program, the more you shop at FreshTrends, the more points you earn.  But that's not the only way to earn, you’ll also earn for friend referrals, your birthday, like us on Facebook and following us on Instagram and more! When your points add up, redeem them for discount vouchers (code to use at checkout that give you $$ off).</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-2"><strong># Who can join?</strong></div>
<div style="text-align: left;" class="accordion accordion-2">All of our customers can start earning FreshTrends Rewards just by creating a customer account.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-3"><strong># How do I earn points?</strong></div>
<div style="text-align: left;" class="accordion accordion-3">
  <div>You can earn points for doing any of the following:</div>
  <div style="text-align: left;">
    <ul>
      <li style="text-align: left;">Registering customer account</li>
      <li style="text-align: left;">Purchasing products</li>
      <li style="text-align: left;">Referring friends</li>
      <li style="text-align: left;">Get points on your birthday</li>
      <li style="text-align: left;">Getting social with us: Liking us on Facebook, Following us on Instagram</li>
    </ul>
  </div>
  <div style="text-align: left;">To see all the ways you can earn points click the “Loyalty Rewards” icon in the bottom left side of the page or click on the “Rewards” link at the top of the page. Then click on “Earn Points” Note that you must log into your account to see your points.</div>
</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-4"><strong># Can I earn points on previous FreshTrends orders</strong></div>
<div style="text-align: left;" class="accordion accordion-4">This Loyalty Rewards program was launched on March 14, 2019. Purchases placed before launching or joining the program don’t quality.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-5"><strong># How do I view my point balance?</strong></div>
<div style="text-align: left;" class="accordion accordion-5">You can see the balance by clicking on “Loyalty Rewards” icon in the bottom left side of the page or click on the “Rewards” link at the top of the page. You must be logged into your account to see your balance.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-6"><strong># How do I redeem my points?</strong></div>
<div style="text-align: left;" class="accordion accordion-6">Click on the Loyalty Rewards tab at the bottom of the page or in the top header. Then click on “Get Rewards”; here you’ll see all the rewards we offer. If you have enough points, you can use your voucher.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-7"><strong># Is there a limit to the number of points I can earn?</strong></div>
<div style="text-align: left;" class="accordion accordion-7">No. Go ahead and earn as many as you can!</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-8"><strong># What do the 'approved', 'pending' and 'cancelled' statuses mean?</strong></div>
<div style="text-align: left;" class="accordion accordion-8">
  <div style="text-align: left;"><strong>Approved:</strong> These points can be redeemed on rewards immediately (if you have enough accumulated).</div>
  <div style="text-align: left;"><strong>Pending:</strong> These points need to be verified before you can redeem them. This typically applies to purchases and referrals (typically about 30 days after your purchase).</div>
  <div style="text-align: left;"><strong>Cancelled:</strong> These points will not be added to your account. For example, this will happen if you cancel a purchase (the points will change from pending to cancelled)</div>
</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-9"><strong># What happens if a friend I refer cancels or returns their order?</strong></div>
<div style="text-align: left;" class="accordion accordion-9">Your pending points will become cancelled and will be removed from your account.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-10"><strong># Why did my account balance go down?</strong></div>
<div style="text-align: left;" class="accordion accordion-10">Points go down or are cancelled if you or someone you referred cancelled or returned a purchase.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-11"><strong># Why didn’t I get my points? I completed an activity but didn't earn points!</strong></div>
<div style="text-align: left;" class="accordion accordion-11">It can sometimes take up to 24 hours for your points to show up on your account.  Also note that some points are redeemable up to 30 days after your purchase. </div>


<div style="text-align: left;" class="link-accordion" data-accordion="accordion-12"><strong># Can I use my points during checkout?</strong></div>
<div style="text-align: left;" class="accordion accordion-12">To use your points or $$ discount, you need to redeem your points for a voucher (a code generated for your points) which can then be applied during checkout... Kind of like applying a coupon code at checkout.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-13"><strong># What happens if I leave and decide to join again?<br /></strong></div>
<div style="text-align: left;" class="accordion accordion-13">Just contact us and we'll re-enroll you. However, your point total will begin from zero.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-14"><strong># Are There Any Restrictions:</strong></div>
<div style="text-align: left;" class="accordion accordion-14">While most of our items earn points and can be redeemed with points, there are a few restrictions. Kindly note that any returned merchandise does not become eligible for points.</div>

<div style="text-align: left;" class="link-accordion" data-accordion="accordion-15"><strong>#Do my reward points expire?</strong></div>
<div style="text-align: left;" class="accordion accordion-15">If you have been inactive in your account for 12+ months, your points will expire, and your vouchers will not be redeemable.</div>