<!-- Foursixty Complete Plan Galleries on Shopify -->
<div id="foursixty-hideable-container" style="display:none" class="custom_d_hide">
<div class="foursixty-section">
<h2 class="title">AS STYLED ON INSTAGRAM</h2>
<script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" 
        data-has-posts-selector="#foursixty-hideable-container"
        data-feed-id="freshtrends-fine-body-jewelry" 
        data-defer-image-loading="true"
        data-theme="slider_v2_5" 
     {% if template contains 'product' %}
        data-for-url="true"
     {% endif %}
     {% if template contains 'collection' %}
        data-product-ids="{{ collection.products | map: "id" | join: ","  }}"
     {% endif %}
     {% if template contains 'cart' %}
        data-product-ids="{{ cart.items | map: "product" | map: "id" | join: ","  }}"
     {% endif %}
        ></script>

<style>
.fs-has-links::after {  padding:  5px 7.5px; border: 1px solid #fff; color:#fff; content: "SHOP NOW";  }.fs-has-links:hover:after { background-color: #fff; color: rgba(0,0,0,0.8)}.fs-wrapper { height: auto } .fs-entry-container { height: 0 !important; width: 20% !important; padding-top: 20% !important; }.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:"Open Sans","Helvetica","Arial",sans-serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:"Open Sans","Helvetica","Arial",sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(0,0,0,0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 3px }  
.foursixty-section {
 {% if template contains 'collection' %}
  padding-top: 40px;
  {% else %}
  padding-top: 20px;
  {% endif %}
  padding-bottom: 10px;
  text-align: center;
}
.fs-wrapper div.fs-entry-container {
      width: calc(100% / 4) !important;
      padding-top: calc(100% / 4) !important;
    }
@media only screen and (max-width: 768px) {
      .fs-wrapper div.fs-entry-container {
        width: calc(100% / 2) !important;
        padding-top: calc(100% / 2) !important;
      }      
    }  
</style>
  </div>
</div>